<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Forms</title>
    <script src="../lib/angular-1.3.0-beta.7/angular.js"></script>
    <link href="../lib/bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../lib/bootstrap-3.1.1-dist/css/bootstrap-theme.css" rel="stylesheet" />
    <script>
        angular.module("exampleApp", [])
                .controller("defaultCtrl", function($scope) {
                    $scope.todos = [
                        { "action": "Get groceries", "complete": false },
                        { "action": "Call plumber", "complete": false },
                        { "action": "Buy running shoes", "complete": true },
                        { "action": "Buy Flowers", "complete": false },
                        { "action": "Call Family", "complete": false }
                    ]
                });
    </script>
</head>
<body>
    <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
        <h3 class="panel-header">
        To Do List
        <span class="label label-info">
            {{ (todos | filter: { complete: 'false' }).length }}
        </span>
        </h3>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Action</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in todos">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ item.action }}</td>
                    <td>
                        <input type="checkbox" ng-model="item.complete" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>