<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Directives</title>
    <script src="../lib/angular-1.3.0-beta.6/angular.js"></script>
    <link href="../lib/bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../lib/bootstrap-3.1.1-dist/css/bootstrap-theme.css" rel="stylesheet" />
    <script>
        angular.module("exampleApp", [])
                .controller("defaultCtrl", function($scope) {
                    $scope.data = {};

                    $scope.todos = [
                        { "action": "Get groceries", "complete": false },
                        { "action": "Call plumber", "complete": false },
                        { "action": "Buy running shoes", "complete": true },
                        { "action": "Buy Flowers", "complete": false },
                        { "action": "Call Family", "complete": false }
                    ];

                    $scope.reportChange = function() {
                        console.log("Displayed content: " + $scope.viewFile());
                    };
                });
    </script>
    <style>
        .odd { background-color: lightcoral; }
        .even { background-color: lavenderblush; }
    </style>
</head>
<body>
    <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
        <h3 class="panel-header">To Do List</h3>
        <div class="well">
            <div class="radio" ng-repeat="button in ['None', 'Table', 'List']">
                <label ng-cloak>
                    <input type="radio" ng-model="data.mode" value="{{ button }}" ng-checked="$first" />
                    {{ button }}
                </label>
            </div>
        </div>
        <div ng-switch="data.mode" ng-cloak>
            <div ng-switch-when="Table">
                <ng-include src="'listing11.html'"></ng-include>
            </div>
            <div ng-switch-when="List">
                <ng-include src="'listing13.html'"></ng-include>
            </div>
            <div ng-switch-default>
                Select another option to display a layout
            </div>
        </div>


    </div>
</body>
</html>