<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Directives</title>
    <script src="../lib/angular-1.3.0-beta.6/angular.js"></script>
    <link href="../lib/bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../lib/bootstrap-3.1.1-dist/css/bootstrap-theme.css" rel="stylesheet" />
    <script>
        angular.module("exampleApp", [])
                .controller("defaultCtrl", function($scope) {
                    $scope.todos = [
                        { "action": "Get groceries", "complete": false },
                        { "action": "Call plumber", "complete": false },
                        { "action": "Buy running shoes", "complete": true },
                        { "action": "Buy Flowers", "complete": false },
                        { "action": "Call Family", "complete": false }
                    ]
                });
    </script>
    <style>
        td > *:first-child { font-weight: bold; }
    </style>
</head>
<body>
    <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
        <h3 class="panel-header">To Do List</h3>
        <div class="well">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="todos[2].complete" />
                    Item 3 is complete
                </label>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Action</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in todos">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ item.action }}</td>
                    <td>
                        <span ng-hide="item.complete">(Incomplete)</span>
                        <span ng-show="item.complete">(Done)</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>